.sort-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;

  & .ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
  }
}

.sort-icon {
  width: 32px !important;
  height: 12px !important;
  flex-shrink: 0;
}
