.sort-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--ml-component-spacing-2);
  cursor: pointer;
  width: 100%;

  & .ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
  }
}

.sort-icon {
  width: 32px !important;
  height: 12px !important;
}
