.draggable-column {
  background-color: var(--ml-blue-100);
  border-width: 1px;
  border-style: solid;
  border-color: var(--ml-blue-300);
  border-radius: 6px;
  margin-bottom: 4px;
  padding: var(--ml-component-spacing-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--ml-component-spacing-3);

  & > span:first-child {
    flex: 1;
    width: 90%;
    label {
      overflow: hidden;
      overflow-wrap: break-word;
    }
    &:hover {
      background-color: var(--ml-blue-200);
    }
  }

  .column-visibility {
    display: flex;
    gap: var(--ml-component-spacing-2);
    align-items: center;
  }

  .drag {
    display: flex;
    flex-flow: column;
    gap: var(--ml-component-spacing-2);
    &::before,
    &::after {
      content: "";
      display: inline-block;
      background-color: var(--ml-gray-200);
      width: 15px;
      height: 2px;
    }
  }
}
