.settings-dropdown-container {
  position: relative;

  .setting-dropdown-btn {
    cursor: pointer;
    display: flex;
    border-radius: 3px;
    padding: var(--ml-component-spacing-2);

    &.button-opened {
      background-color: var(--ml-theme-gray-200);
    }
  }

  .dropdown {
    position: absolute;
    z-index: 200;
    right: 0;
    margin-top: var(--ml-component-spacing-2);
    width: 280px;
    background-color: var(--ml-white);
    padding: var(--ml-component-spacing-5);
    border-radius: 3px;
    box-shadow: 0 0 18px 0px rgba(0, 0, 0, 0.15);
    color: var(--ml-text-color);

    display: flex;
    flex-flow: column;
    gap: var(--ml-component-spacing-4);
  }

  .option {
    width: 50%;
  }
  .title {
    font-weight: 600;
  }
  .column-ordering-setting {
    display: flex;
    flex-flow: column;
    gap: var(--ml-component-spacing-2);

    .subtitle {
      font-size: 14px;
    }
    .content-list {
      border-radius: 3px;
      max-height: 300px;
      max-width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      border: 1px solid var(--ml-theme-gray-300);
      background-color: var(--ml-theme-gray-050);
      padding: var(--ml-component-spacing-3);
    }
  }
}

[data-ml-theme="dark"] {
  .settings-dropdown-container {
    .dropdown {
      background-color: var(--ml-theme-gray-200);
    }
    .content-list {
      label {
        color: var(--ml-black);
      }
    }
  }
}
