.thead {
  display: grid;
  position: sticky;
  top: 0;
  z-index: 3;
  min-width: 100%;
  background-color: var(--ml-off-white);
  font-size: 12px;

  .tr {
    display: grid;
    border-bottom: 1px solid var(--ml-gray-200);

    .th {
      display: flex;
      align-items: center;
      position: relative;
      padding: var(--ml-component-spacing-3);
      border: none;
      border-right: 1px solid var(--ml-gray-200);
      text-transform: uppercase;
      background-color: var(--ml-off-white);
      letter-spacing: 0.15em;
      color: var(--ml-text-color);
      font-weight: 500;
      box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.06);

      &:last-child,
      &:last-child {
        border-right: none !important;
      }

      & .ellipsis {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
      }

      div.filter-wrapper {
        display: flex;
        align-items: center;
        gap: var(--ml-component-spacing-3);
      }

      & .context-menu {
        display: none;
      }

      &.th-expander,
      &.th-selection {
        position: sticky;
        z-index: 2;
        left: 0px;
        box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.06);
      }

      &.th-expander {
        border-right: none !important;
        left: 0;
      }
    }

    .th:nth-child(2) {
      &.th-expander,
      &.th-selection {
        left: 30px;
      }
    }
  }
}
[data-pixa-theme="dark"] .thead {
  border: none;

  .tr {
    border-bottom: 1px solid var(--ml-gray-900);

    .th {
      border-right: 1px solid var(--ml-gray-900);
      background-color: var(--ml-gray);
    }
  }
}
