.table-container {
  background-color: var(--ml-background-color);

  position: relative;
  filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.06));
  font-family: "Hind", sans-serif;
  font-size: 15px;
  color: var(--ml-text-color);
  border: 1px solid var(--ml-gray-200);
  border-radius: 4px;

  .header-settings {
    background-color: var(--ml-gray-100);
    position: relative;
    border-bottom: 1px solid var(--ml-gray-200);
  }

  .table {
    font-size: 14px;
    overflow: auto;
    .tbody {
      position: relative;

      .tr {
        position: absolute;
        top: 0;
        left: 0;
        display: grid;
        min-width: 100%;
        min-height: 40px; /* Added 'minHeight: 40px' to fix 'min-height: 0px */
        background-color: var(--ml-background-color);
        /* height: 30px; THE HEIGHT WILL BE SET ON THE TABLE BY USING VIRTUALIZATION */
        &:hover {
          background-color: var(--ml-off-white);
        }
        &:hover .context-menu {
          display: block;
        }

        .td {
          overflow: hidden;
          white-space: nowrap;
          background-color: inherit;
          padding: var(--ml-component-spacing-3);
          border-right: 1px solid var(--ml-gray-200);
        }

        .td {
          border-bottom: 1px solid var(--ml-gray-200);
          color: var(--ml-text-color);
          position: relative;

          &:hover {
            min-width: fit-content;
            z-index: 999;
          }

          &.td-expander,
          &.td-selection {
            box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.06);
            position: sticky;
            z-index: 10;
            left: 0;
          }

          &.td-expander {
            border-right: none;
          }

          &:last-child,
          &:last-child {
            border-right: none;
          }

          & .ellipsis {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: block;
          }

          & .context-menu {
            display: none;
          }

          &:hover > a {
            color: var(--ml-text-color);
          }

          & > a {
            color: var(--ml-blue-600);
            text-decoration: none;
            cursor: pointer;
          }
        }

        .tr-expandable {
          background-color: var(--ml-background-color);
          grid-column: 1 / -1;
          border-bottom: 1px solid var(--ml-gray-200);
        }

        .td:nth-child(2) {
          &.td-expander,
          &.td-selection {
            left: 30px;
          }
        }
      }
    }
  }
  .tfooter {
    height: 48px;
    padding: 8px var(--ml-component-spacing-3) 7px;
    display: flex;
    justify-content: flex-end;
  }
}

[data-pixa-theme="dark"].table-container {
  border: 1px solid var(--ml-gray-900);

  .header-settings {
    border-bottom: none;
  }

  .table {
    border: none;
    .tr {
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background-color: var(--ml-gray-700);
        & > a {
          color: var(--ml-text-color);
        }
      }
      .td {
        border: none;
        border-right: 1px solid var(--ml-gray-900);
        overflow-wrap: break-word;
        border-top: none;
        border-bottom: 1px solid var(--ml-gray-900);

        &.td-expander:hover,
        &.td-selection:hover {
          background-color: var(--ml-gray-700);
        }
      }

      .tr-expandable {
        background-color: var(--ml-background-color);
        grid-column: 1 / -1;
        border-bottom: 1px solid var(--ml-gray-900);
      }
    }

    .tr-selected {
      background-color: var(--ml-gray-700);
      &:hover {
        background-color: var(--ml-gray-700);
      }
    }
  }
}
