@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Hind";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("./assets/fonts/ml_hind_light.woff2") format("woff2");
  }
  @font-face {
    font-family: "Hind";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/ml_hind_regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Hind";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("./assets/fonts/ml_hind_medium.woff2") format("woff2");
  }
  @font-face {
    font-family: "Hind";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("./assets/fonts/ml_hind_semibold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Hind";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./assets/fonts/ml_hind_bold.woff2") format("woff2");
  }
}

@layer components {
  input[type="checkbox"] {
    @apply h-5 w-5 cursor-pointer rounded-[3px] border-[#3E4A52];

    &:not(:checked) {
      @apply dark:bg-[#132531];
    }

    &:checked,
    &:indeterminate {
      @apply bg-primary-blue-100;
      &:hover {
        @apply bg-primary-blue-120 dark:bg-primary-blue-80;
      }
    }
  }
}
